<div>
  <h2 class="font-black text-3xl text-center">Listado De Personas</h2>
  <p class="text-xl mt-5 mb-10 text-center">
    Administra
    <span class="text-indigo-600 font-bold">Personas</span>
  </p>
  <button
    mat-button
    (click)="openDialog('Agregar', {})"
    mat-flat-button
    color="primary"
  >
    Agregar Persona
  </button>

  <mat-form-field appearance="standard" class="">
    <mat-label>Filtro</mat-label>
    <input matInput placeholder="Ejemplo Iram" [formControl]="search" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort #sort="matSort">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
      </ng-container>
      <!-- Apellido Paterno Column -->
      <ng-container matColumnDef="apellidoPaterno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Apellido Paterno
        </th>
        <td mat-cell *matCellDef="let row">{{ row.apellidoPaterno }}</td>
      </ng-container>
      <!-- Apellido Materno Column -->
      <ng-container matColumnDef="apellidoMaterno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Apellido Materno
        </th>
        <td mat-cell *matCellDef="let row">{{ row.apellidoMaterno }}</td>
      </ng-container>
      <!-- Dirección Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
        <td mat-cell *matCellDef="let row">{{ row.direccion }}</td>
      </ng-container>
      <!-- Teléfono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
        <td mat-cell *matCellDef="let row">{{ row.telefono }}</td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="openDialog('Editar', element)">Editar</a> |
          <a (click)="openDialog('Borrar', element)">Eliminar</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
