<h1 mat-dialog-title class="text-center">
  <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Borrar'; else elseTemplate">
    <div class="mb-5">
      <label class="block text-gray-700 uppercase font-bold"> Nombre </label>
      <input
        [(ngModel)]="local_data.nombre"
        value="{{ local_data.nombre }}"
        type="text"
        placeholder="Nombre"
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
      />
    </div>
    <div class="mb-5">
      <label class="block text-gray-700 uppercase font-bold">
        Apellido Paterno
      </label>
      <input
        [(ngModel)]="local_data.apellidoPaterno"
        value="{{ local_data.apellidoPaterno }}"
        type="text"
        placeholder="Apellido Paterno"
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
      />
    </div>
    <div class="mb-5">
      <label class="block text-gray-700 uppercase font-bold">
        Apellido Materno
      </label>
      <input
        [(ngModel)]="local_data.apellidoMaterno"
        value="{{ local_data.apellidoMaterno }}"
        type="text"
        placeholder="Apellido Materno"
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
      />
    </div>

    <div class="mb-5">
      <label class="block text-gray-700 uppercase font-bold"> Dirección </label>
      <input
        [(ngModel)]="local_data.direccion"
        value="{{ local_data.direccion }}"
        type="text"
        placeholder="Dirección"
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
      />
    </div>
    <div class="mb-5">
      <label class="block text-gray-700 uppercase font-bold"> Teléfono </label>
      <input
        [(ngModel)]="local_data.telefono"
        value="{{ local_data.telefono }}"
        type="number"
        placeholder="55555555"
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
      />
    </div>
  </div>
  <ng-template #elseTemplate>
    <div class="dialogo_eliminar">
      <a>¿Esta seguro de eliminar a </a>
      <b>{{ local_data.nombre }}</b
      ><a>?</a>
    </div>
  </ng-template>
</div>
<div class="justify-around" mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-raised-button>
    {{ action }}
  </button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancelar
  </button>
</div>
